<section class="section">
  <div class="container">
    <h1>Generator</h1>
    <form class="form js-form">
      <textarea
        class="form__template"
        name="template"
        placeholder="Template in jinja"
        autocomplete="off"
        autocorrect="off"
        spellcheck="false"
        required
      ></textarea>
      <textarea
        class="form__params"
        name="params"
        placeholder="Params in yaml"
        autocomplete="off"
        autocorrect="off"
        spellcheck="false"
        required
      ></textarea>
      <button class="form__btn js-btn-generate" type="submit">Generate</button>
      <button class="form__btn js-btn-copy" type="button">Copy output</button>
    </form>

    <div class="result">
      <pre class="result__params js-output-params"></pre>
      <pre class="result__output js-output-result"></pre>
    </div>
  </div>
</section>
