<section class="section">
  <div class="container">
    <h1>Generator</h1>
    <form class="form">
      <textarea
        class="form__template"
        name="template"
        placeholder="template in jinja"
        required
      ></textarea>
      <textarea
        class="form__params"
        name="params"
        placeholder="params in yaml"
        required
      ></textarea>
      <button class="form__btn" type="submit">Generate</button>
    </form>
    <div class="result__div">
      <pre class="result"></pre>
    </div>
  </div>
</section>
